@import 'https://fonts.googleapis.com/css?family=Raleway';
html,
body {
    padding: 0;
    margin: 0;
    font-family: Raleway;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

div.container {
    font-family: Raleway;
    margin: 0 auto 20px auto;
    padding: 2em 3em;
    text-align: center;
}

div.container a {
    color: rgb(131, 127, 127) !important;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.red {
    background: #f44336;
}

.indigo {
    background: #d3d4dd;
}

div.topLeftBorders a:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: rgb(54, 53, 53);
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgb(58, 56, 56);
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:hover:before {
    height: 100%;
}

div.topLeftBorders a:hover:after {
    opacity: 0;
    top: 100%;
}


/* card */

.card_product {
    /* border: 1px solid #f44336; */
    box-shadow: 4px 4px 4px 4px rgb(235, 227, 227);
    border-radius: 10px;
}

.card_product h4 {
    text-transform: uppercase;
    padding-top: 10px;
}

.card__detail {
    margin: 100px auto 100px auto;
    padding: 15px;
    width: 700px;
    text-align: center;
    border: 1px solid #f44336;
    border-radius: 15px;
    color: #fff;
    background: rgb(138, 133, 133);
}

.card__detail i {
    font-weight: bold;
}

.page__add-book {
    height: 100vh;
    width: 800px;
    margin: auto;
}

.menu__book-list {
    border: 1px solid #f44336;
    background: rgb(82, 74, 74);
}

.menu__book-item {
    margin: 10px;
}

.link {
    font-weight: bold;
}

.link:hover {
    text-decoration: none;
    color: #ebe72c;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.sign__out {
    font-size: 20px;
    color: #f44336;
    background: none;
    border: none;
}